langgraph
PyMuPDF
langchain_google_genai

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-genai

requests
fastapi
uvicorn

sqlalchemy
psycopg2-binary
asyncpg
alembic

typing_extensions
typing
python-dotenv
pydantic