langgraph
PyMuPDF
ChatXAI
pytesseract
Pillow

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-genai

requests
fastapi
uvicorn
PyJWT
redis
rq

sqlalchemy
psycopg2-binary
asyncpg
alembic

typing_extensions
typing
python-dotenv
pydantic