langgraph
PyMuPDF
langchain_google_genai
pytesseract
PIL

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-genai

requests
fastapi
uvicorn
PyJWT

sqlalchemy
psycopg2-binary
asyncpg
alembic

typing_extensions
typing
python-dotenv
pydantic